.hero-container {
  height: 100vh;
  width: 100%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), 
    url('../../assets/hero-bg.png');
    
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  text-align: center;
  color: #ffffff; 
  z-index: 2;
}

.hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  letter-spacing: 4px;
  margin: 20px 0;
  text-transform: uppercase;
  z-index: 2;
}

.cta-button {
  display: inline-block;
  padding: 12px 35px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.4s;
}

.cta-button:hover {
  background-color: white;
  color: black;
}