.inner-title, .inner-heading {
    display: none;
}

.search-section {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../assets/search-bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 120px 5%;
  text-align: center;
}

.main-title {
  color: white;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 50px;
  font-weight: 700;
}

.search-container {
  background: white;
  padding: 15px 20px;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.inner-title {
  display: none;
}

.filter-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px 15px;
  border-right: 1px solid #eee; 
}

.filter-item:nth-last-child(2) {
  border-right: none;
}

.filter-item label {
  font-size: 0.75rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 2px;
}

.search-select, 
.filter-item input {
  width: 100%;
  border: none;
  padding: 5px 0;
  font-size: 0.85rem;
  color: #777;
  background: transparent;
}

.search-now-btn {
  background-color: #222;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 15px 35px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  height: 100%;
}

.search-now-btn:hover {
  background-color: #444;
}

.filter-item:last-child {
  border-right: none;
  flex-direction: row;
  align-items: center;
  flex: 1.5;
  gap: 15px;
}

.filter-item:last-child input {
    flex: 1; 
    min-width: 80px;
}