.about-section {
  background-color: #ffffff;
  padding: 80px 10%;
  color: white;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.about-image img {
  width: 400px;
  height: auto;
  border-radius: 50%;
  border: 0px solid #fff;
}

.about-content {
  text-align: left;
}

.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: black;
  font-family: 'Playfair Display', serif;
}

.phone {
  color: black;
}

.highlight {
  color: #c5a059;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .about-content {
    text-align: center;
  }

  .about-image img {
    max-width: 280px;
  }

  .about-content h2 {
    font-size: 1.8rem;
  }
}