.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-sizing: border-box;
  position: fixed;
}
.logo-img {
  filter: brightness(0) invert(1); 
  height: 90px;
  width: auto;
  filter: brightness(0) invert(1) drop-shadow(0px 2px 4px rgba(0,0,0,0.5));
}

.menu {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}